article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  background-color: #effdf3; }

.wideWrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%; }

.hamburgerMenu.fas {
  position: absolute;
  font-size: 50px;
  top: 50px;
  right: 30px;
  display: none; }

a:focus {
  border: 5px dotted red; }

h1,
h2,
h3,
h4 {
  margin: 0; }

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 35px; }

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 26px; }

p {
  font-family: 'Roboto', serif; }

a i {
  color: #2c2c2c; }

.findOutMoreButton {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #4ceea7;
  padding: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: #2c2c2c; }

.mainHeader {
  background-color: #fafafa;
  height: 500px;
  width: 100%;
  background-image: url("../images/headerImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #effdf3;
  position: relative; }

nav ul {
  list-style: none;
  margin: 0;
  text-align: right;
  position: relative;
  right: 50px;
  top: 50px; }

nav a {
  text-decoration: none;
  color: black; }

nav li {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  display: inline;
  margin-left: 30px; }

nav a:hover {
  border-bottom: 3px solid #4ceea7; }

.mainHeader h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 9vw;
  text-align: center;
  position: relative;
  bottom: -300px;
  z-index: 1; }

.headerLensImageContainer {
  border-width: 30px 0 30px 30px;
  border-color: #fdfa69;
  border-style: solid;
  width: 40%;
  min-width: 370px;
  max-width: 620px;
  position: absolute;
  bottom: -23%;
  right: 0; }

.headerLensImageContainer img {
  width: 100%;
  height: 100%; }

.whatIsCapturedSection {
  background-color: #effdf3;
  width: 100%;
  padding: 150px 0; }

.whatIsCapturedContent {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  width: 80%; }

.skillsAndGearSection {
  background-color: #fafafa;
  width: 100%; }

.skillsAndGearSection img {
  width: 90%;
  -webkit-box-shadow: 30px 30px 0 0 #fdfa69;
  box-shadow: 30px 30px 0 0 #fdfa69;
  position: relative;
  top: -30px; }

.imageQuadLowerRight {
  text-align: right; }

.skillsAndGearContent {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1600px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skillsAndGearQuadrant {
  width: 50%; }

.skillsAndGearTextQuad {
  padding-left: 38px; }

.quadTextWrapper {
  width: 90%; }

.textQuadLowerLeft {
  padding-left: 7%; }

.textQuadLowerLeft .quadTextWrapper {
  text-align: right; }

.imageQuadLowerRight img {
  -webkit-box-shadow: -30px 30px 0 0 #fdfa69;
  box-shadow: -30px 30px 0 0 #fdfa69;
  margin-bottom: 30px;
  position: static; }

.iconQuadSection i {
  background-color: #4ceea7;
  padding: 12px 10px 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px; }

.iconQuadSection {
  background-color: #effdf3; }

.quadSectionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 60px 0; }

.iconQuadContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mediaContent {
  margin-left: 15px; }

.quadContentMediaWrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mediaIcon {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.midImageBannerSection {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px; }

.monthProfileSection {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #effdf3; }

.monthProfileContent {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.profileTextWrapper {
  padding-left: 60px; }

.profileImageContainer {
  width: 100%;
  max-width: 400px; }

.profileImageContainer img {
  width: 100%;
  -webkit-box-shadow: 30px 30px 0 0 #fdfa69;
  box-shadow: 30px 30px 0 0 #fdfa69; }

.gallerySection {
  width: 100%;
  background-color: #fafafa; }

.gallerySectionContent {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.galleryImageWrapper {
  width: 30%; }

.galleryImageWrapper img {
  width: 100%; }

.pageFooter {
  width: 100%;
  height: 50px;
  background-color: #2c2c2c;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 12px; }

.fullBlogPageWrapper {
  max-width: 1600px;
  margin: 0 auto; }

.blogHeader {
  background-image: url("../images/blogHeader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 400px; }

.blogContentWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #effdf3; }

.aboutWrapper {
  width: 28%;
  line-height: 1.5;
  margin-top: 40px; }

.aboutText {
  margin-left: 55px;
  background-color: #fafafa; }

.aboutImage {
  width: 90%; }

.aboutWrapper p {
  font-family: 'Roboto'; }

.aboutWrapper h4 {
  font-size: 20px; }

.recentPostHeading {
  margin-top: 25px; }

.recentPostList {
  padding-left: 20px; }

.blogHeadingText {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 70px;
  position: relative;
  left: 30px;
  line-height: 0;
  top: -40px; }

.blogPostImg {
  width: 100%;
  -webkit-box-shadow: -30px 30px 0 0 #fdfa69;
  box-shadow: -30px 30px 0 0 #fdfa69;
  position: relative;
  left: 30px;
  margin-bottom: 14px; }

.blogContent {
  width: 65%;
  position: relative;
  top: -150px;
  margin-right: 30px; }

.blogTextWrapper {
  width: 90%;
  padding-left: 4%;
  border-left: 4px solid #fdfa69;
  border-bottom: 4px solid #fdfa69; }

.blogTitleHeading {
  padding-top: 30px; }

.blogCommentsWrapper {
  padding-top: 20px; }

.blogComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0; }

.blogCommentText {
  padding-left: 25px; }

.blogCommentDate {
  margin-top: 0; }

.commentInputWrapper {
  width: 100%; }

.postComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.inputField {
  border: none;
  border-bottom: 3px solid #4ceea7;
  padding: 12px 20px;
  background: none;
  margin: 15px 0;
  font-size: 20px; }

.inputField:hover {
  background: rgba(211, 134, 211, 0.2); }

.nameInputField,
.emailInputField {
  width: 45%; }

.commentInputField {
  width: 100%;
  height: 200px;
  border: 3px solid #4ceea7;
  resize: none; }

.postCommentButton {
  width: 100%;
  border: none; }

.wideWrapperBlog {
  min-height: 95vh; }

.inTouchHeader {
  background-image: url("../images/contactHeader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 400px; }

.inTouchContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #effdf3; }

.sideInfoWrapper {
  width: 25%; }

.contactText {
  position: relative;
  top: 70px; }

.socialIconsWrapper ul {
  list-style: none;
  padding: 0; }

.socialIconsWrapper li {
  display: inline;
  margin: 0 10px;
  font-size: 20px; }

.contactText p {
  line-height: 12px; }

.contactText h4 {
  font-size: 20px;
  margin-bottom: 30px; }

.getInTouchFormWrapper {
  width: 65%;
  height: 450px;
  max-width: 650px;
  background-color: #fafafa;
  -webkit-box-shadow: -30px 30px 0 0 #fdfa69;
  box-shadow: -30px 30px 0 0 #fdfa69;
  position: relative;
  top: -160px; }

.inTouchTextWrapper {
  width: 90%;
  margin: 0 auto; }

.getInTouchFormWrapper h3 {
  position: relative;
  top: -70px;
  font-size: 52px; }

@media (min-width: 1100px) {
  .mainHeader {
    height: 650px; }
  .mainHeader h1 {
    bottom: -460px;
    font-size: 120px; }
  .monthProfileSection {
    height: 600px; } }

@media (max-width: 950px) {
  nav ul {
    top: 10px; }
  .mainHeader h1 {
    bottom: -70px;
    font-size: 6vw;
    text-align: right;
    margin-right: 50px; }
  .headerLensImageContainer {
    width: 40%;
    min-width: 250px;
    border-width: 20px 0 20px 20px;
    bottom: -14%; }
  .whatIsCapturedSection {
    padding: 80px 0; } }

@media (max-width: 750px) {
  body {
    background-color: #F3F3F3; }
  .mainHeader {
    background-position: 5%;
    margin-top: 80px; }
  nav ul {
    right: 10px; }
  .mainHeader h1 {
    font-size: 50px;
    margin: 0;
    position: relative;
    bottom: 55px;
    text-align: center; }
  .headerLensImageContainer {
    display: none; }
  nav ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 25px; }
  nav li {
    display: block;
    margin-bottom: 30px; }
  .skillsAndGearContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .skillsAndGearQuadrant {
    width: 90%;
    padding: 0;
    text-align: center;
    margin: 35px 0; }
  .quadTextWrapper {
    margin: 0 auto; }
  .textQuadLowerLeft .quadTextWrapper {
    text-align: center; }
  .iconQuadSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .iconQuadContent {
    width: 85%;
    margin: 15px 0; }
  .monthProfileSection {
    height: auto; }
  .monthProfileContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%; }
  .profileImageContainer {
    width: 50%;
    padding: 30px 0; }
  .profileTextWrapper {
    text-align: center;
    padding: 30px 0; }
  .galleryImageWrapper {
    width: 48%; }
  .galleryImageWrapper:nth-of-type(2) {
    display: none; } }

@media (max-width: 550px) {
  .mainHeader {
    background-image: url("../images/headerBoxImage.jpg");
    background-size: cover;
    margin: 0;
    background-color: #F3F3F3;
    background-position: 100%; }
  nav ul {
    display: none; }
  .mainHeader h1 {
    bottom: 0;
    top: 40px;
    text-align: left;
    margin-left: 15px; }
  .hamburgerMenu.fas {
    display: block; }
  .whatIsCapturedSection {
    padding: 50px 0 50px 0; }
  .skillsAndGearQuadrant {
    margin: 15px 0; }
  .midImageBannerSection {
    display: none; }
  .monthProfileSection {
    height: auto; }
  .gallerySectionContent {
    width: 90%;
    padding: 20px 0; }
  .galleryImageWrapper {
    width: 85%; }
  .galleryImageWrapper:nth-of-type(2) {
    display: block; }
  .galleryImageWrapper:nth-of-type(2n + 1) {
    display: none; } }

@media (max-width: 550px) and (max-width: 380px) {
  .mainHeader h1 {
    font-size: 40px;
    margin-left: 10px; }
  .hamburgerMenu.fas {
    font-size: 40px;
    top: 48px;
    right: 20px; }
  .profileImageContainer {
    width: 80%; }
  .profileImageContainer img {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .profileTextWrapper {
    padding-top: 0; } }

@media (max-width: 750px) {
  .blogContentWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .aboutWrapper img {
    display: none; }
  .aboutWrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 90%; }
  .aboutText {
    background: none;
    text-align: center;
    margin: 0; }
  .blogContent {
    margin: 0;
    width: 80%;
    margin-bottom: -150px; } }

@media (max-width: 550px) {
  .postComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
  .nameInputField,
  .emailInputField {
    width: 100%;
    text-align: center; }
  .commentInputField {
    text-align: center; }
  .postCommentButton {
    width: 95%; } }

@media (max-width: 950px) {
  .headerNavMenu.inTouchNavMenu {
    top: 50px; } }

@media (max-width: 750px) {
  .headerNavMenu.inTouchNavMenu li {
    display: inline; }
  .getInTouchFormWrapper {
    width: 80%; }
  .getInTouchFormWrapper h3 {
    font-size: 40px; }
  .inTouchContentWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .postMessage input {
    font-size: 18px; }
  .sideInfoWrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 80%;
    text-align: center;
    margin-top: -150px;
    margin-bottom: 100px; } }

@media (max-width: 550px) {
  .getInTouchFormWrapper {
    height: auto;
    padding-bottom: 30px;
    width: 85%; }
  .getInTouchFormWrapper h3 {
    text-align: center; }
  .nameInputField,
  .emailInputField {
    width: 100%;
    text-align: center; }
  .commentInputField {
    text-align: center; } }
